
  <ul class="pages">
    <li class="chat page">
      <div class="container">
        <h1><strong>she</strong>says
          <div class="pull-right">
            <%= link_to("Login", new_user_session_path, {:class=>"btn btn-md btn-default", :id=>"signin-btn"}) %>
            <%= link_to("Register", new_user_registration_path, {:class=>"btn btn-md btn-primary", :id=>"signin-btn"}) %>
          </div>
        </h1>
        <h3>See what she's saying @<span id="selected-company"> </span></h3>
      </div>
    </li>
    <li class="login page">
      <div class="container">
        <%= render 'layouts/navigation' %>
        <div class="header">
          <h1><b>she</b>says
          <div class="pull-right">
            <ul class="inline-links social-links">
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
            </ul>
          </div>
          </h1>
            <h3 class="subtitle"> 
              An anonymous review platform for women in tech.
            </h3>
        </div>
          
        <div class="form">
          <div class="title">What did <b>she</b>say</div>
          <div class="title">@
          <%= form_tag('/search', id: "company-input", method: "get") do %>
            <%= text_field_tag :q, :q, :autocomplete => :off %>
          <% end %>
        </div>
      </div>


    </li>
  </ul>

  <script>
     // Initialize varibles
  var $window = $(window);
  var $companyInput = $('#company'); // Input for username

  var $loginPage = $('.login.page'); // The login page
  var $chatPage = $('.chat.page'); // The chatroom page
  var $nav = $('.navbar');
  // Prompt for setting a username
  var companyName;
  var clearedCompany = false;

  $nav.hide();
  // Sets the client's companyName
  function setCompanyName() {
    companyName = cleanInput($companyInput.html().trim());
    // If the companyName is valid
    if (companyName) {
      $loginPage.fadeOut();
      $chatPage.show();
      $nav.show();
      $loginPage.off('click');
      // Tell the server your username
      //TODO: query the server here for companyName
      $("#selected-company").html(companyName);
    }
  }

  // Prevents input from having injected markup
  function cleanInput (input) {
    return $('<div/>').text(input).text();
  }

  // Keyboard events

  $window.keydown(function (event) {
    // Auto-focus the current input when a key is typed
    if (!(event.ctrlKey || event.metaKey || event.altKey)) {
      $companyInput.focus();
    }
    if (!clearedCompany) {
      $companyInput.html("");
      clearedCompany = true;
    }
    // When the client hits ENTER on their keyboard
    if (event.which === 13) {
      if (companyName) {
        typing = false;
      } else {
        setCompanyName();
      }
    }
  });

  window.onload = function() {
    $("#company").focus();
  };

  </script>