<p class="text-right text-lowercase text-muted" id="notice"><%= notice %></p>
<%= render 'layouts/navigation'%>


<div class="container navbar-push">
  <div class="row wrapper">

    <div class="col-md-3">
      <div class="company-bubble">

          <!-- <img class="logo" src= "<%= @logo_url %>"/> -->
          <h2><%= @company.name %></h2>
          <h4><%= @company.description %></h4>
          <h4>Average Sentiment: <b><%= @company.average_sentiment_label %></b> </h4>
          <%= link_to raw("<strong>review</strong>++"), new_company_review_path(@company), :class=>"btn btn-primary", :id=>"new-review"%>

      </div>
    </div>

    <div class="col-md-8 reviews-wrapper" >
      <div>
        <ul class="reviews">

          <% if @company.reviews.any? %>
            <% @company.reviews.each do |review| %>
              <li>
                <p><%=review.content %> </p>
                <% sentiment = review.sentiment_label %>
                <% if sentiment == "neutral" %>
                	<p class = "pull-left">Sentiment: <b><font color = gray> <%= review.sentiment_label %> </font></b></p>

                <%elsif sentiment == "negative"%>    
	               <p class = "pull-left">Sentiment: <b> <font color = black><%= review.sentiment_label %></font> </b></p>

	            <%else%>
                <p class = "pull-left">Sentiment: <b> <%= review.sentiment_label %> </b></p>
                <%end%>

                <p class = "pull-right"><b><%=review.created_at.strftime("%m-%d-%Y") %></b> </p>
                <br>
              </li>

            <% end %>
          <% else %>
            <li> 
              <p> No reviews for <b><%= @company.name.capitalize %> </b> have been added. <%= link_to "Add", new_company_review_path(@company) %> your own review 
              </p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>

<% if current_user and current_user.name == "admin" %>
  <%= link_to 'Edit', edit_company_path(@company) %> |
  <%= link_to 'Back', companies_path %>
<% end %>
