<p class="text-right text-lowercase text-muted" id="notice"><%= notice %></p>
<%= render 'layouts/navigation'%>


<div class="container navbar-push">
  <div class="row wrapper">

    <div class="col-md-3">
      <div class="company-bubble">

          <!-- <img class="logo" src= "<%= @logo_url %>"/> -->
          <h2><%= @company.name %></h2>
          <h4><%= @company.description %></h4>
          <%= link_to raw("<strong>review</strong>++"), new_company_review_path(@company), :class=>"btn btn-primary", :id=>"new-review"%>
          
      </div>
    </div>

    <div class="col-md-8 reviews-wrapper" >
      <div>
        <ul class="reviews">
          <li>
            <p>
            This is hard-coded. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in tellus felis. Suspendisse potenti. Quisque quis justo scelerisque augue ornare commodo id ac nisi. Sed ac facilisis dolor. Curabitur ultrices pharetra interdum. Vestibulum luctus euismod pellentesque. Nulla elit nisi, varius sit amet imperdiet at, auctor vel libero. Sed ac turpis nec mi rhoncus tristique eget non massa. Nunc magna ante, porta a mi ut, finibus eleifend justo. Pellentesque faucibus sapien mi, ut imperdiet velit condimentum quis. Fusce at aliquet odio. Nulla dolor nulla, sodales et fringilla sit amet,
            </p>
          </li>

          <li>
            <p>
            This is hard-coded. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in tellus felis. Suspendisse potenti. Quisque quis justo scelerisque augue ornare commodo id ac nisi. Sed ac facilisis dolor. Curabitur ultrices pharetra interdum. Vestibulum luctus euismod pellentesque. Nulla elit nisi, varius sit amet imperdiet at, auctor vel libero. Sed ac turpis nec mi rhoncus tristique eget non massa. Nunc magna ante, porta a mi ut, finibus eleifend justo. Pellentesque faucibus sapien mi, ut imperdiet velit condimentum quis. Fusce at aliquet odio. Nulla dolor nulla, sodales et fringilla sit amet,
            </p>
          </li>
          <li>
            <p>
            This is hard-coded. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in tellus felis. Suspendisse potenti. Quisque quis justo scelerisque augue ornare commodo id ac nisi. Sed ac facilisis dolor. Curabitur ultrices pharetra interdum. Vestibulum luctus euismod pellentesque. Nulla elit nisi, varius sit amet imperdiet at, auctor vel libero. Sed ac turpis nec mi rhoncus tristique eget non massa. Nunc magna ante, porta a mi ut, finibus eleifend justo. Pellentesque faucibus sapien mi, ut imperdiet velit condimentum quis. Fusce at aliquet odio. Nulla dolor nulla, sodales et fringilla sit amet,
            </p>
          </li>
          
          <% if @company.reviews.any? %>
            <% @company.reviews.each do |review| %>
              <li>
                <p><%=review.content %> </p>
                <br>
                <p>Review's Sentiment: <%= review.sentiment_label %><p>
              </li>
            <% end %>
          <% else %>
            <li> 
              <p> No reviews for <b><%= @company.name.capitalize %> </b> have been added. <%= link_to "Add", new_company_review_path(@company) %> your own review 
              </p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>

<% if current_user and current_user.name == "admin" %>
  <%= link_to 'Edit', edit_company_path(@company) %> |
  <%= link_to 'Back', companies_path %>
<% end %>
